<mat-toolbar color="primary">
  <img src="assets/onsemi_logo_full_color.svg" class="onsemi-logo" alt="onsemi logo" />
  <span style="font-weight:700;letter-spacing:0.5px;">exensio dearchiver</span>
  <span style="flex:1 1 auto"></span>
  <ng-container *ngIf="(auth.user$ | async) as u">
    <ng-container *ngIf="u?.username; else toolbarLogin">
      <span>{{ u.username }}</span>
      <button *ngIf="u?.roles?.includes('ROLE_ADMIN')" mat-button [routerLink]="['/admin']">Admin</button>
      <button mat-button (click)="auth.logout()">Logout</button>
    </ng-container>
  </ng-container>
</mat-toolbar>

<ng-template #toolbarLogin>
  <span>Not signed in</span>
</ng-template>

<ng-container *ngIf="(auth.user$ | async) as user; else loginView">
  <ng-container *ngIf="user?.username; else loginView">
    <div class="app-shell">
      <div class="app-container">
        <mat-tab-group class="app-tabs" animationDuration="250ms" mat-stretch-tabs>
          <mat-tab label="Dashboard">
            <app-dashboard></app-dashboard>
          </mat-tab>
          <mat-tab label="Resender">
            <div class="tab-content">
              <app-stepper></app-stepper>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loginView>
  <div class="app-shell">
    <div class="app-container login-prompt">
      <p>Please sign in to manage resend requests.</p>
      <app-login></app-login>
    </div>
  </div>
</ng-template>


